html{
  background-color: #fff;
  font-size: 10px;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gravity-book';
  src: url(../fonts/webfonts-gravity/gravity-book.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-book.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-bookitalic';
  src: url(../fonts/webfonts-gravity/gravity-bookitalic.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-bookitalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-italic';
  src: url(../fonts/webfonts-gravity/gravity-italic.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-italic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-light';
  src: url(../fonts/webfonts-gravity/gravity-light.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-lightitalic';
  src: url(../fonts/webfonts-gravity/gravity-lightitalic.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-lightitalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-regular';
  src: url(../fonts/webfonts-gravity/gravity-regular.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity-bold';
  src: url(../fonts/webfonts-gravity/gravity-bold.woff2) format('woff2'),
       url(../fonts/webfonts-gravity/gravity-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}


.pink-back{
  background-color: #BA808C;
  background-image: url(../images/pink-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 101vw;
  height: 68rem;
}

.home{
  color: white;
}



/* nav bar - across all pages */
.container{
  margin: 0 auto;
  width: 90%;
}

nav{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.logo {
  padding: 2rem 0;
}

.logo a{
  color: #BA808C;
  font-family: 'Gravity-regular';
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.menu-bar li {
  display: inline;
  padding-top: 1.4rem;
}

.menu-bar li a {
  color: #BA808C;
  font-family: 'Gravity-regular';
  font-size: 1.6rem;
  padding-top: 1.4rem;
  text-decoration: none;
}

.menu-bar li a:hover{
  color: #BA808C;
  text-decoration: underline;
}

/* footer - across all pages */

footer{
  background-color: #ECE4E4;
}

.contact-footer{
  color: #BA808C;
  font-family: 'Gravity-regular';
  font-size: 2.8rem;
  padding-bottom: .25rem;
  padding-top: 5rem;
  text-align: center;
  width: 100%;
}

ul.social-bar{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem 0;
  width: 100%;
}

a { /* social icons */
  padding: 1rem 1.4rem;
} 

.copywrite-info{
  color: #BA808C;
  font-family: 'Gravity-bold';
  font-size: 1.2rem;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.home-2{
  color: #BA808C
}
/* home page body */

h1{ /* Hi, I'm Rachel! */
  color: #fff;
  font-family: 'Gravity-bold';
  font-size: 4.5rem;
  padding-top: 3.5rem;
  text-align: left;
}

h2{ /* slogan */
  color: #fff;
  font-family: 'Gravity-book';
  font-size: 2.7rem;
  line-height: 3.2rem;
  padding: 2rem 0;
  text-align: left;
}

br{
  display: none;
}
br-1{
  display: none;
}
h3{ /* currently based in NYC */
  color: #fff;
  font-family: 'Gravity-book';
  font-size: 2.1rem;
  line-height: 120%;
  padding-bottom: 5rem;
  padding-top: 2rem;
  text-align: left;
}

/* general middle section */
.case-studies{
  /* background-color:  #284078; */
  /* background-image: url(../images/curve-2.svg); */
  background-position: center -14.75vw;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 8rem;
  padding-top: 11vw;
  position: relative;
  width: 100%;
}

svg.curve {
  position: absolute;
  top: -21vw;
  width: 101vw;
}

.arrow{
  display: block;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

/* left content */

.left-content{ /* section including "Cubby", description and button */
  text-align: center;
  width: 100%;
}

.project-name{
  color: #284078;
  font-family: 'Gravity-book';
  font-size: 5.3rem;
  text-align: center;
  padding-top: 5rem;
}

.cubby-description{
  color: #284078;
  font-size: 1.9rem;
  font-family: 'Gravity-book';
  line-height: 135%;
  padding-bottom: 4rem;
  padding-top: 2rem;
  text-align: center;
}

a.button{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #284078;
  color: #284078; 
  display: inline-block;
  font-family: 'Gravity-regular';
  font-size: 1.8rem;
  padding: 15px 35px;
  text-decoration: none;
  width: 162px;
  transition-duration: 0.4s;
}

a.button:hover{
  background-color: #284078; 
  color: white;
}
/* right content */

.right-content{ /* section Cubby image */
  text-align: center;
  width: 100%; 
}
.mobile-landing{
  display: block;
  padding-top: 3rem;
  width: 100%; 
}

.desktop-landing{
  display: none;
}


                                    /* about page body */

                                    .about-image{
                                      padding: 2rem 0;
                                      width: 100%;
                                    }

                                    .about{
                                      margin: 0 2rem;
                                    }

                                    #quote{
                                      font-family: 'Gravity-italic';
                                      font-size: 2.4rem;
                                      line-height: 130%;
                                      padding-bottom: 1rem;
                                      padding-top: 2rem;
                                      color: #BA808C;
                                    }

                                    #speaker{
                                        font-family: 'Gravity-regular';
                                        font-size: 2rem;
                                        padding-bottom: 2rem;
                                        width: 100%;
                                        text-align: right;
                                        color: #BA808C;
                                    }

                                    .section-tagline{
                                        font-family: 'Gravity-italic';
                                        font-size: 2.1rem;
                                        line-height: 130%;
                                        padding-top: 2rem;
                                    }

                                    .about-body-copy{
                                        font-family: 'Gravity-book';
                                        font-size: 1.8rem;
                                        line-height: 140%;
                                        text-align: left;
                                        padding: 1rem 0;
                                    }
                                    .eight{
                                      padding-bottom: 3rem;
                                    }



/* case study styles */

/* hero */

#cubby-title{
  color: #284078;
  font-family: 'Gravity-book';
  font-size: 5rem;
  padding: 3rem 0 1.6rem 0;
  text-align: center;
  }
  
  #cubby-tag-line{
  color: #284078;
  font-family: 'Gravity-book';
  font-size: 2.13rem;
  padding-bottom: 2rem;
  text-align: center;
  }


  #desktop-hero{
    width: 100%;
  } 
  
  .cubby-description-2{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 125%;
  margin: 0 3rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: center;
  }
  
  .green-button{
    background-color: #14B9B2;
    border-radius: 8px;
    color: #fff; 
    display: block;
    font-family: 'Gravity-regular';
    font-size: 1.8rem;
    line-height: 130%;
    margin: 2rem auto; 
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    width: 240px; 
  }
  
  .roles-deliverables-tools{
  background-color: #C9EFED;
  }

  .rdt-titles{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 2.8rem;
  padding: 3.5rem 0 1rem 0;
  text-align: center;
  }
  
  .rdt{
    color: #000;
    font-family: 'Gravity-book';
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
  }
  .tools{
    padding-bottom: 3rem;
  }
  
  .ps{
    color: #000;
    font-family: 'Gravity-book';
    font-size: 3.4rem;
    margin-left: 2rem;
    padding: 3rem 0 1rem 0;
    text-align: left;
  }
  
  .ps-text-body{
    color: #000;
    font-family: 'Gravity-book';
    font-size: 1.8rem;
    line-height: 150%;
    margin: 0 2rem;
    padding-bottom: 2rem;
    text-align: left;
  }
  
  .solution{
    background-color: #A5EDDD; 
  }

  .section-label{
    color: #284078;
    font-family: 'Gravity-book';
    font-size: 3.5rem;
    line-height: 120%;
    padding-bottom: 4rem;
    text-align: center;
  }
            /* User Survey */
  h4{
    color: #14B9B2;
    font-family: 'Gravity-book';
    font-size: 2.8rem;
    margin: 0 2rem;
    padding-bottom: 1.3rem;
    text-align: left;
  }
  h5{
    color: #284078;
    font-family: 'Gravity-book';
    font-size: 3.5rem;
    text-align: center;
  }
  
  .case-study-text{
    color: #000;
    font-family: 'Gravity-book';
    font-size: 1.8rem;
    line-height: 140%;
    margin: 0 2rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  .card-text{
    color: #000;
    font-family: 'Gravity-book';
    font-size: 1.8rem;
    line-height: 140%;
    margin: 0 2rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  /* discovery section overlap */
  .disc-image-overlap{
    background-image: url(../images/discovery-phase-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
  }

  #disc-phase{
    padding-bottom: 5rem;
    margin: 0 auto;
    top: 55px;
    width: 100%;
  }

  #user-survey{
    top: 210px;
    width: 100%;
  }
  
  #disc-phase-intro-body{
    top: 250px;
  }
  
  /* survey questions */
  
  .survey-questions{
    padding: 0 0 2.5rem 0;
  }
  
  li.survey{
    color: #31397E;
    font-family: 'Gravity-italic';
    font-size: 1.8rem;
    line-height: 160%;
    margin: 0 2rem;
    padding: .7rem 0;
    text-align: left;
  }
  
  #survey-results-mobile{
    display: block;
    width: 100%;
  }
  
  #survey-results-desktop{
    display: none;
  }
  .survey-results{
    background-image: linear-gradient(#153055, #2B7093);
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 3.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem;
  }
  
  .percent-data{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .percent{
    color: #fff;
    font-family: 'Gravity-bookitalic';
    font-size: 4rem;
    padding-bottom: 1rem;
    text-align: left; 
  }

  .percent-caption{
    color: #fff;
    font-family: 'Gravity-bookitalic';
    font-size: 2.3rem;
    line-height: 120%;
    text-align: center;
  }
  
  /* percentages */
  
  #num-56{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  #num-25{
    margin-top: -3.95rem;
  }
  
  #num-94{
    grid-column-start: 2;
    grid-row-start: 2;
  } 
  
  
  /* survey section overlap */
  
  .survey-image-overlap{
    position: relative;
    width: 100%;
  }
  
  #survey-caption{
    color: white;
    font-family: 'Gravity-book';
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 120%;
    margin: 0 2rem;
    padding-top: 3rem;
    text-align: center;
  }
  
  #survey-button{
    width: 215px;
    grid-column-start: 1;
    grid-column-end: 3
  }
  
  #user-personas{
    padding-top: 5rem;
  }
  
  #user-personas-copy{
    padding-bottom: 4rem;
  }
  
  .user-personas-intro{
    background-color: #FAF6FF;
  }
  
  
  .persona-titles{
    background-color: #A5EDDD;
    color: #000;
    font-family: 'Gravity-bookitalic';
    font-size: 1.8rem;
    letter-spacing: .4px;
    line-height: 130%;
    padding: 2.5rem 3rem 10rem 3rem;
    text-align: center;
  }
  
  .regular-bold-title{
    color: #000;
    font-family: 'Gravity-bold';
    font-size: 1.8rem;
    line-height: 130%;
    margin: 0 2rem;
    padding-bottom: .6rem;
    padding-top: 2rem;
    text-align: left;
  }


/* persona picture overlap */

.persona-image-overlap{
  position: relative;
  width: 100%;
}
.marcus-samantha{
  display: block;
  height: 150px;
  margin: 0 auto; 
  position: relative;
  top: -74px; 
  width: 150px;
}
#marcus-samantha-summary{
  margin-top: -4rem;
}

.personas{
  padding-bottom: 3rem;
}

.blue-block{
  background-color: #4F639A;;
  padding: 2rem 0;
}
#after-personas{
  color: white;
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 140%;
  margin: 0 2rem;
  text-align: left;
}

#comp-analysis{
  padding-top: 3rem;
}

.comp-analysis-cards{
  background-color: #DCF8F2;
  background-image: url(../images/ca-curve.svg);
  background-position: center 0vw;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 3rem;
  position: relative;
  width: 100%;
}

.card{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
  margin: 2rem 2rem;
  padding: 3rem 0;
  text-align: center;
}

/* info arch overlap */
.info-arch-overlap{
  background-image: url(../images/info-arch-back.png);
  position: relative;
  width: 100%;
}

#info-arch{
  margin: 0 2rem;
  padding-top: 4rem;
} 

.wireframes{
  padding: 3.75rem 0 3rem 0;
  
}
.wireframes-main{
  background-color: #F7EFFF;
  background-image: url(../images/wf-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 1.15rem;
}

#wf-label{
  padding-top: 7rem;
}
.wireframes-image{
  display: block;
  width: 100%;
}
#wf-desktop{
  display: none;
}

#wf-1{
  margin-top: 2.5rem;
}

#mobile-wireframe-image{
  display: block;
  margin: 0 auto;
}

.img-label{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 1.6rem;
  margin: 0 2rem;
  padding: .5rem 0 3rem 0;
  text-align: center;
}


.wireframes-mockups-button{
  padding: 15px 30px;
  width: 286px;
}

#user-testing-1{
  padding-top: 5rem;
}
.user-testing-1{
  padding-bottom: 10rem;
}
.cards-back{
  background-color: #6B7CAA;
  background-image: url(../images/ut1-curve.svg);
  background-position: center 66.55rem;
  background-repeat: no-repeat; 
  background-size: 100%;
  margin-bottom: -9rem;
  position: relative;
}

.test-result-card{
  align-items: center;
  background-color: #A5EDDD;
  border-radius: 8px;
  box-shadow: 0 0 10px .5px rgba(0,0,0,0.2);
  display: flex;
  height: 130px;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 3rem 0;
  position: relative;
  top: -10rem;
}

.user-test-results{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 140%;
  padding: 2rem 1rem;
  text-align: center;
}

/* Branding & Identity */
.branding-overlap{
  background-image: url(../images/ut1-curve2.svg);
  background-position: center -13vw;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 3rem;
  position: relative;
  width: 100%;
}

#brand{
  background-image: url(../images/branding-group-desktop.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.branding{
  padding-bottom: 4rem;
  padding-top: 12rem;
  text-align: center;
}

#logo-section{
  background-image: url(../images/designing-logo-back.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

/* overlap */

.branding-text{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px .5px rgba(0,0,0,0.2);
  color: #284078;
  font-family: 'Gravity-regular';
  font-size: 1.8rem;
  line-height: 130%;
  margin: 2rem 2rem;
  padding: 1.5rem;
  text-align: left;
}

#i-decided{
  padding: 4rem 0 4rem 0;
  width: 80%;
} 

#designing-logo{
  padding-top: 10rem;
} 

#logo-options{
  display: block;
  margin: 0 auto;
  width: 100%;
} 

.i-eventually{
  padding: 3rem 0;
}

#typeface-desktop{
  display: block;
  margin: 0 auto;
} 

.typeface-back{
  background-image: url(../images/typeface-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-size: cover;
  padding-bottom: 1.15rem;
  padding-top: 12.5vw;
  position: relative;
  width: 100%;
}

#palette-mobile{
  display: block;
  margin: 0 auto;  
}

#palette-desktop{
  display: block;
  margin: 0 auto;
}

.palette-back{
  background-color: #F7EFFF;
  background-image: url(../images/palette-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 1.15rem;
  padding-top: 5rem;
}

#i-brought{
  margin-top: 5rem;
  padding-top: 2rem;
}

#cubby-logo{
  display: block;
  width: 380px;
  height: auto;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo-back{
  background-image: url(../images/shards-background.png);
  background-repeat: no-repeat; 
  background-size: 100%;
}

.vis-design{
  background-color: #F7EFFF;
  background-image: url(../images/visual-curve.svg);
  background-position: center -1rem;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 1.15rem;;
  padding-top: 10rem;
  position: relative;
  width: 100%;
}

.v-design{
  padding-top: 0;
}

.img-mockups{
  display: block;
  width: 100%;
  margin: 0 auto;
}

#mobile-mockup{
  display: block;
  margin: 0 auto;
}

#desktop-mockup{
  display: none;
}

.mockups-section{
  display: block;
}

.preference-tests{
  padding-top: 13rem;
}
.mockup-bottom{
  background-image: url(../images/wf-curve.svg);
  background-position: center top;
  background-repeat: no-repeat; 
  background-size: 100%;
}

.pref{
  display: block;
  padding: 3rem 0;
  width: 100%;
}

/* .pref-buttons */

#pref-label{
  padding-top: 3rem;
}

.prototypes{
  background-color: #F7EFFF;
  padding: 3rem 0;
}

.user-testing-2{
  padding-top: 5rem;
}

ol{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
  color: #000;
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 140%;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
}

#desktop-mobile-card{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 1.3rem 0;
}

.desktop-testing{
  display: block;
  width: 100%;
}

.mobile-testing{
  display: block;
  margin: 0 auto;
}

.img-label-2{
  color: #000;
  font-family: 'Gravity-book';
  font-size: 1.6rem;
  padding: 2rem 0 1rem 0;
  margin: 0 2rem;
  text-align: center;
}

.ut2{
  padding-bottom: 1rem;
}

#to-improve{
  padding-top: 3rem;
}

.testing-back{
  background-color: #DCF8F2;
  background-image: url(../images/ut2-curve.svg);
  background-position: center -1rem;
  background-repeat: no-repeat; 
  background-size: 100%;
  padding-bottom: 1.15rem;
  padding-top: 7rem;
  position: relative;
  width: 100%;
}

/* Conclusion */

.conclusion{
  background-color: #284078;
}

#conclusion-label{
  color: #A5EDDD;
  font-family: 'Gravity-book';
  font-size: 3.5rem;
  padding: 3rem 0 1rem 0;
  text-align: center;
}

.case-study-text-white{
  color: #fff; 
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 130%;
  margin: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: left;
}

.under-cards{
  background-color: #6B7CAA;
  color: #fff;
  font-family: 'Gravity-book';
  font-size: 1.8rem;
  line-height: 130%;
  padding: 2rem;
  position: relative;
  text-align: left;
}

@media screen and (min-width: 510px) {
.pink-back{
  height: 66rem;
}
h1{
  padding-top: 7rem;
}
}

@media screen and (min-width: 768px) {
  
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem 4rem 4rem;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .menu-bar{
    color: #D02E77;
    display: inline;
    font-family: 'Gravity-book';
    font-size: 1.6rem;
    text-align: right;
  }

/* landing page MQ */
   .wrapper{
    align-items: center;
    /* background-color: #284078;  */
    display: grid;
    grid-gap: 90px;
    grid-template-columns: 1fr 2fr; 
   }

  .project-name{
    text-align: right;
    margin: 0;
    padding: 0rem;
  }

  .cubby-description{
    padding-bottom: 5.5rem;
    text-align: right;
  }

  br{
    display: none;
  }
 
  a.button{
    float: right;
  }

  .right-content {
  }
  .arrow{
    padding-top: 17rem;
  }
  .mobile-landing{
    display: none;
  }

  .desktop-landing{
    display: block;
    width: 100%;
  }

                /* about page MQ */
                  .about-image{
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                  }

                  .wrapper-2{
                    display: grid;
                    grid-column-gap: 2rem;
                    grid-row-gap: 2rem;
                    grid-template-columns: 1fr 3fr;
                    padding-bottom: 5rem;
                  }

                  .about{
                    margin: 0 auto;
                    width: 70%;
                  }

                  .about-body-copy{
                    padding: 0;
                  }

                  .section-tagline{
                    padding-top: 0;
                  }

                  .one{
                    grid-column-start: 1;
                    grid-row-start: 1;
                  }

                  .two{
                    grid-column-start: 1;
                    grid-row-start: 3;
                    padding-top: 1rem;
                  }

                  .three{
                    grid-column-start: 1;
                    grid-row-start: 4;
                    padding-top: 1rem;
                  }

                  .four{
                    grid-column-start: 2;
                    grid-row-start: 1;
                  }

                  .five{
                    grid-column-start: 2;
                    grid-row-start: 2;
                  }

                  .six{
                    grid-column-start: 2;
                    grid-row-start: 3;
                    padding-top: 1rem;
                  }

                  .seven{
                    grid-column-start: 2;
                    grid-row-start: 4;
                    padding-top: 1rem;
                  }

                  .eight{
                    grid-column-start: 2;
                    grid-row-start: 5;
                  }

                  #quote{
                    font-size: 3rem;
                  }

                  #speaker{
                    font-size: 2.5rem;
                    padding-bottom: 11rem;
                  }

/* cubby MQ */

#cubby-title{
  font-size: 6.5rem;
}

#cubby-tag-line{
  font-size: 3.5rem;
}

.cubby-description-2{
  font-size: 2.7rem;
  margin: 0 18rem;
}

.case-study-text{
  margin-left: 11rem;
  width: 60rem;
}

.case-study-text-white{
  margin-left: 11rem;
  width: 60rem;
}

/* RDT and problem/solution */

.roles-deliverables-tools{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding-bottom: 6rem;
 padding-top: 3rem;
}

.problem-solution{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ps-text-body{
  margin: 2rem 4rem;
}
.ps{
  text-align: center;
}


/* Discovery Phase */

.disc-image-overlap{
  background-image: url(../images/discovery-back.png);
  padding: 10rem 0;
}
.survey-questions{
  padding: 2.5rem 0 2.5rem 0;
}

li.survey{
  margin-left: 12rem;
  text-align: left;
}
.survey-results{
  display: grid;
  grid-column-gap: 16rem; 
  grid-row-gap: 7rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 7rem;
}

#survey-caption{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

#survey-button{
  grid-column-end: 4
}
/* percentages */

#num-56{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}

#num-81{
  grid-column-start: 2;
  grid-row-start: 2;
}

#num-25{
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: 0;
}

#num-94{
  grid-column-start: 1;
  grid-row-start: 4;
}  

/* personas */
.user-personas-intro{
  padding-bottom: 17rem;
}

.dark-blue-back{
  background-color: #4F639A;
  margin-bottom: -5rem;
}
.persona-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5rem;
  margin-bottom: -17rem;
  position: relative;
  top: -17rem;
}
.personas{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
  margin: 0 4rem;
}

.persona-titles{
  border-radius: 10px 10px 0 0;
}

h4{
  margin: 0 11rem;
}

/* comp analysis */

.comp-analysis{
  margin-top: 5rem;
  margin-bottom:3rem;
}

.comp-analysis-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card{
  margin: 2rem 4rem;
}

/* br{
 display: none;
}  */

.persona-break{
  display: block;
}

/* info arch */



.info-arch{
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 4rem;
  padding-top: 2rem;
} 

.info-arch a {
  height: 25px;
} 

#info-arch-summary{
  margin-left: 11rem;
  margin-right: 11rem;
  width: auto;
}

#info-arch{
  padding-top: 13rem;
} 

/* branding */

.branding{
  margin-left: 11rem;
  padding-top: 18rem;
  padding-bottom: 0;
  text-align: left;
}

.branding-text{
  background: none;
  box-shadow: none;
  margin-left: 11rem;
  margin-top: 15rem;
  padding: 0 0 5rem 0;
  width: 40rem;
}

.i-wanted{
  margin-top: 5rem;
  padding-bottom: 15rem;
  width: 60rem;
}

#logo-section{
  padding-bottom: 0;
}

.under-cards{
  padding-bottom: 0;
  padding-left: 55%;
  padding-right: 5%;
}

.logo-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7rem;
}

.i-eventually{
  align-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 6rem;
  width: 50rem;
}

#palette-mobile{
  display: none;
}

#palette-desktop{
  display: block;
  margin: 0 auto;   
}
.v-design{
  padding-bottom: 6rem;
  padding-top: 3rem;
  margin-left: 11rem;
  text-align: left;
}

.wireframes-image{
  display: none;
}

#wf-desktop{
  display: block;
  margin: 0 auto;
  width: 95%;
}


#mobile-wireframe-image{
   display: none;
}

.wf-label{
  display: none;
}

.wireframes-mockups-button{
  float: right;
  margin-right: 5%;
  position: relative;
  top: -13rem;
}
#mu-button{
  top: 0rem;
}

.logo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem;
}

.style-guide{
  align-self: center;
  height: 25px;
}

.img-mockups{
  display: none;
}

#mobile-mockup{
  display: none;
}

#desktop-mockup{
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
  width: 95%;
}

.mockup-label{
  display: none;
}

#pref-label{
  display: none;
}

.prototypes{
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 7rem;
  padding-top: 8rem;
}

.prototypes a{
  height: 25px;
}

#prototypes-summary{
  padding-bottom: 3rem;
  margin-right: 11rem;
  width: auto;
}

.user-testing-2{
  padding-bottom: 2rem;
  padding-top: 10rem;
}

ol{
  margin: 14rem auto 7rem auto;
  width: 60rem;
}

.list{
  display: inline;
}

.h-list{
  display: flex;
}

.ut2{
  margin: 1rem;
}

.ut-2-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 3rem 14rem 3rem;
}
.after{
  grid-column-start: 2;
  grid-row-start: 1;
}

.ut-mobile{
  margin: 7rem 30rem;
}

#to-improve{
  margin-right: 11rem;
  padding: 6rem 0 4rem 0;
  width: auto;
}

.concl-text{
  margin-right: 11rem;
  padding-bottom: 7rem;
  width: auto;
}

#conclusion-label{
  padding-top: 6rem;
}




/* landing page MQ */
/* @media screen and (min-width: 440px){ */
  /* .mobile-landing{
    width: initial;
  } */
/* } */
/* 
@media screen and (min-width: 510px){
.pink-back{
  height: 66rem;
}*/
} 

 @media screen and (min-width: 856px){
  br-1{
    display: block;
  }
}
 @media screen and (min-width: 890px){

  #typeface-desktop{
    display: block;
    margin: 0 auto; 
    width: 85%;   
  } 
} 

@media screen and (min-width: 950px){
  .cards-back{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -9rem;
    width: 100%;
  }

  .pref{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
    display: block;
    padding: 2rem 0;
    margin: 0 auto;
}

.pref-buttons{
  grid-row-start: 1;
  grid-row-end: 2;
}

.pref-cards{
  grid-row-start: 2;
  grid-row-end: 3;
}

.pref-text{
  color: white;
  font-family: 'Gravity-book';
  margin-left: 0;
  width: auto; 
}

.pref-grid{
  background-color: #6B7CAA;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5rem;
  padding: 6rem 4rem;
  margin-top: 5rem;
}
}


@media screen and (min-width: 1100px){
#quote{
  text-align: center;
}
.info-arch{
  display: grid;
  grid-column-gap: 3rem; 
  grid-template-columns: 3fr 1fr;
  padding-bottom: 13rem;
  padding-top: 2rem;
}
.info-arch a {
  grid-column-start: 2;
  height: 25px;
  margin: 0 7rem 2rem 2rem;
}

#user-stories-flows{
  grid-column-start: 1;
  grid-column-end: 3;
}

#info-arch-summary{
  grid-row-start: 2;
  grid-row-end: 4;
  margin-right: 0rem;
  padding-bottom: 3rem;
  width: 60rem;
}

#info-arch{
  padding-top: 13rem;
}

.prototypes{
  display: grid;
  grid-column-gap: 3rem; 
  grid-template-columns: 3fr 1fr;
  padding-bottom: 7rem;
  padding-top: 8rem;
}

.prototypes a{
  grid-column-start: 2;
  height: 25px;
  margin: 0 7rem 2rem 2rem;
}

#prototypes{
  grid-column-start: 1;
  grid-column-end: 3;
}

#prototypes-summary{
  grid-row-start: 2;
  grid-row-end: 4;
  margin-right: 0;
  padding-bottom: 3rem;
  width: 60rem;
}

}

/* about page MQ */
@media screen and (min-width: 1150px){
.about{
    margin: 0 auto;
    width: 70%;
  }
}


